.page-footer {
	border-top: 1px solid $orange-color;
	min-height: 64px;
	margin: 0px 3% 20px 3%;
}
.socailUI {
	padding-top: 25px;
	padding-left: 50px;
	display: flex;
	&__item {
		align-items: center;
		margin-right: 20px;
	}
	&__link {
		height: 30px;
		width: 30px;
		color: #fff;
		font-size: 20px;
		transition: 0.3s ease-in-out;
		&:hover {
			color: $orange-color;
		}
	}
}
