.list-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__content {
		padding: 16px;
		flex-grow: 1;
	}
	&__title {
		color: $black-color;
		margin-top: 0;
		font-weight: 500;
	}
	&__description {
		color: $second-black-color;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.5;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		padding: 8px;
		border-top: 1px solid $gray-color;
	}
	&__section {
		display: flex;
		align-items: center;
	}
	&__priority {
		color: $second-black-color;
		font-weight: 500;
		margin-left: 16px;
		font-size: 18px;
	}
}
