.task-list {
	display: flex;
	flex-wrap: wrap;

	&__item {
		flex: 0 0 calc(33.3333% - 16px);
		min-width: 320px;
		background-color: #fff;
		margin-right: 16px;
		&--done {
			background-color: $gray-color;
		}
		&:not(:nth-child(-n + 3)) {
			margin-top: 16px;
		}
	}
}
@media (max-width: 1100px) {
	.task-list {
		flex-direction: column;
		&__item {
			margin-top: 12px;
			margin-right: 0px;
		}
	}
	.list-item {
		margin: 0 auto;
	}
}
